<div class="profile-page">
    <p *ngIf="message" class="message">{{message}}</p>

    <div *ngIf="user" class="profile-card">
        <h1>{{ 'HELLO' | translate }}, {{user.name}} ☺️☺️</h1>

        <div class="profile-info">

            <div class="profile-item">
                <label for="">{{ 'NAME' | translate }}</label>
                <span>{{user.name}}</span>
            </div>

            <div class="profile-item">
                <label for="">{{ 'EMAIL' | translate }}</label>
                <span>{{user.email}}</span>
            </div>


            <div class="profile-item">
                <label for="">{{ 'PHONE_NUMBER' | translate }}</label>
                <span>{{user.phoneNumber}}</span>
            </div>

            <div class="profile-item">
                <label for="">{{ 'ROLE' | translate }}</label>
                <span>{{user.role}}</span>
            </div>

        </div>
    </div>

</div>