<div class="product-page">
  <p class="message" *ngIf="message">{{ message }}</p>

  <!-- PRODUCT HEADER -->
  <div class="product-header">
    <h1>{{ 'PRODUCT_LIST' | translate }}</h1>
    <button class="add-product-btn" (click)="navigateToAddProductPage()">
      {{ 'ADD_PRODUCT' | translate }}
    </button>
  </div>

  <!-- PRODUCT LIST -->
  <div class="product-list" *ngIf="products.length > 0">
    <table class="product-table">
      <thead>
        <tr>
          <th>{{ 'CATEGORY' | translate }}</th>
          <th>{{ 'PRODUCT_CODE' | translate }}</th>
          <th>{{ 'PRODUCT_NAME' | translate }}</th>
          <th>{{ 'UNIT' | translate }}</th>
          <th>{{ 'WAREHOUSE' | translate }}</th>
          <th>{{ 'UNIT_WEIGHT' | translate }}</th>
          <th>{{ 'BARCODE' | translate }}</th>
          <th>{{ 'ACTIONS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products"
            class="product-row"
            [ngClass]="{'deleted-product': product.is_deleted}">
          <td>{{ product.category?.name || '-' }}</td>
          <td>
            {{ product.productCode }}
            <span *ngIf="product.is_deleted" class="deleted-label">{{ 'DELETED' | translate }}</span>
          </td>
          <td>
            {{ product.productName }}
            <span *ngIf="product.is_deleted" class="deleted-label">{{ 'DELETED' | translate }}</span>
          </td>
          <td>{{ product.unit }}</td>
          <td>{{ product.warehouse || '-' }}</td>
          <td>{{ product.unitWeight ? (product.unitWeight + ' KG') : '-' }}</td>
          <td>{{ product.barcode || '-' }}</td>
          <td class="actions">
            <button
              *ngIf="!product.is_deleted"
              (click)="navigateToEditProductPage(product.id)"
              class="edit-btn">
              {{ 'EDIT' | translate }}
            </button>
            <button
              *ngIf="!product.is_deleted"
              (click)="handleProductDelete(product.id)"
              class="delete-btn">
              {{ 'DELETE' | translate }}
            </button>
            <button
              *ngIf="product.is_deleted"
              (click)="restoreProduct(product.id)"
              class="restore-btn">
              {{ 'RESTORE' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- PAGONATIOOPN COMPONETN IN USE -->
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"
  >
  </app-pagination>
</div>
