<div class="supplier-page">
  <p *ngIf="message" class="message">{{ message }}</p>

  <!-- SUPPLIER HEADER -->
  <div class="supplier-header">
    <h1>{{ 'SUPPLIER_LIST' | translate }}</h1>
    <div class="add-sup">
      <button (click)="navigateToAddSupplierPage()">{{ 'ADD_SUPPLIER' | translate }}</button>
    </div>
  </div>

  <!-- SUPPLIER LIST -->
  <ul class="supplier-list" *ngIf="suppliers.length > 0">
    <li
      *ngFor="let supplier of suppliers"
      class="supplier-item"
      [attr.key]="supplier.id"
    >
      <span>{{ 'NAME' | translate }}: {{ supplier.name }}</span>
      <span>{{ 'ADDRESS' | translate }}: {{ supplier.address }}</span>

      <div class="supplier-actions">
            <button (click)="navigateToEditSupplierPage(supplier.id)" >{{ 'EDIT' | translate }}</button>
            <button (click)="handleDeleteSupplier(supplier.id)">{{ 'DELETE' | translate }}</button>
      </div>
    </li>
  </ul>
</div>
