<div class="transactions-page">
  <p *ngIf="message" class="message">{{ message }}</p>

  <!-- TRANSCATIONS HEADER -->
  <div class="transactions-header">
    <h1>{{ 'TRANSACTIONS' | translate }}</h1>
    <div class="transaction-search">
      <input
        type="text"
        [(ngModel)]="searchInput"
        placeholder="{{ 'SEARCH_TRANSACTIONS_PLACEHOLDER' | translate }}"
      />
      <button (click)="handleSearch()">{{ 'SEARCH' | translate }}</button>
    </div>
  </div>

  <!-- TRANSCATIONS TABLE -->
  <div *ngIf="transactions.length > 0">
    <table class="transactions-table">
      <thead>
        <tr>
          <th>{{ 'TYPE' | translate }}</th>
          <th>{{ 'STATUS' | translate }}</th>
          <th>{{ 'TOTAL_PRICE' | translate }}</th>
          <th>{{ 'TOTAL_PRODUCTS' | translate }}</th>
          <th>{{ 'DATE' | translate }}</th>
          <th>{{ 'ACTIONS' | translate }}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td [attr.data-label]="'TYPE' | translate">{{ transaction.transactionType }}</td>
          <td [attr.data-label]="'STATUS' | translate">{{ transaction.transactionStatus }}</td>
          <td [attr.data-label]="'TOTAL_PRICE' | translate">{{ transaction.totalPrice }}</td>
          <td [attr.data-label]="'TOTAL_PRODUCTS' | translate">{{ transaction.totalProducts }}</td>
          <td [attr.data-label]="'DATE' | translate">{{ transaction.createdAt | date : "short" }}</td>
          <td [attr.data-label]="'ACTIONS' | translate" (click)="navigateTOTransactionsDetailsPage(transaction.id)">
            <button>{{ 'VIEW_DETAILS' | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- PAGONATIOOPN COMPONETN IN USE -->
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"
  >
  </app-pagination>
</div>
