<div class="transaction-details-page">
    <p *ngIf="message" class="message">{{message}}</p>

    <div *ngIf="transaction">
        <!-- Transaction Information -->
         <div class="section-card">
            <h2>{{ 'TRANSACTION_INFORMATION' | translate }}</h2>
            <p>{{ 'TYPE' | translate }}: {{transaction.transactionType}}</p>
            <p>{{ 'STATUS' | translate }}: {{transaction.transactionStatus}}</p>
            <p>{{ 'DESCRIPTION' | translate }}: {{transaction.description}}</p>
            <p>{{ 'TOTAL_PRODUCTS' | translate }}: {{transaction.totalProducts}}</p>
            <p>{{ 'TOTAL_PRICE' | translate }}: {{transaction.totalPrice | currency}}</p>
            <p>{{ 'CREATED_AT' | translate }}: {{transaction.createdAt | date:'short'}}</p>

            <div *ngIf="transaction.updatedAt">
                <p>{{ 'UPDATED_AT' | translate }}: {{transaction.updatedAt | date:'short'}}</p>
            </div>
         </div>

         <!-- PRODUCT INFORMATION -->
         <div class="section-card">
            <h2>{{ 'PRODUCT_INFORMATION' | translate }}</h2>
            <div *ngFor="let productAssoc of transaction.products">
                <p>{{ 'PRODUCT_ID' | translate }}: {{productAssoc.product_id}}</p>
                <p>{{ 'QUANTITY' | translate }}: {{productAssoc.quantity}}</p>
                <!-- If full product details are needed here, backend needs to embed them or frontend needs to fetch them -->
                <hr> <!-- Separator for multiple products -->
            </div>
         </div>

         <!-- USER ASSOCIATED WITH THE TRANSACTIONS -->
         <div class="section-card">
            <h2>{{ 'USER_INFORMATION' | translate }}</h2>
            <p>{{ 'NAME' | translate }}: {{transaction.user.name}}</p>
            <p>{{ 'EMAIL' | translate }}: {{transaction.user.email}}</p>
            <p>{{ 'PHONE_NUMBER' | translate }}: {{transaction.user.phoneNumber}}</p>
            <p>{{ 'ROLE' | translate }}: {{transaction.user.role}}</p>

         </div>

         <!-- SUPPLIER ASSOCIATED WITH THE TRANSACTIONS -->
         <div *ngIf="transaction.supplier" class="section-card">
            <h2>{{ 'SUPPLIER_INFORMATION' | translate }}</h2>
            <p>{{ 'NAME' | translate }}: {{transaction.supplier.name}}</p>
            <p>{{ 'ADDRESS' | translate }}: {{transaction.supplier.address}}</p>
         </div>

         <!-- UPDATE TRANSACTION -->
         <div class="section-card transaction-staus-update">
            <label for="">{{ 'STATUS' | translate }}: </label>
            <select [(ngModel)]="status" id="">
                <option value="PENDING">{{ 'PENDING' | translate }}</option>
                <option value="PROCESSING">{{ 'PROCESSING' | translate }}</option>
                <option value="COMPLETED">{{ 'COMPLETED' | translate }}</option>
                <option value="CANCELLED">{{ 'CANCELLED' | translate }}</option>
            </select>
            <button (click)="handleUpdateStatus()">{{ 'UPDATE_STATUS' | translate }}</button>
         </div>

    </div>

</div>
