<div class="auth-container">
  <h2>{{ 'REGISTER' | translate }}</h2>
  <p *ngIf="message" class="message" [ngClass]="{'success': messageType === 'success', 'error': messageType === 'error'}">{{ message }}</p>

  <form (ngSubmit)="handleSubmit()">
    <input
      type="text"
      placeholder="{{ 'NAME_PLACEHOLDER' | translate }}"
      [(ngModel)]="formData.name"
      name="name"
      required
    />
    <input
      type="email"
      placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}"
      [(ngModel)]="formData.email"
      name="email"
      required
    />
    <input
      type="password"
      placeholder="{{ 'PASSWORD_PLACEHOLDER' | translate }}"
      [(ngModel)]="formData.password"
      name="password"
      required
    />
    <input
      type="number"
      placeholder="{{ 'PHONE_NUMBER_PLACEHOLDER' | translate }}"
      [(ngModel)]="formData.phoneNumber"
      name="phoneNumber"
      required
    />

    <button type="submit">{{ 'REGISTER' | translate }}</button>
  </form>
  <p>{{ 'ALREADY_HAVE_ACCOUNT' | translate }}<a routerLink="/login" routerLinkActive="router-link-active" >{{ 'LOGIN_LINK' | translate }}</a></p>
</div>
