
<div class="dashboard-container">
    <h1>{{ 'TRANSACTION_DASHBOARD' | translate }}</h1>

      
    <!-- Transaction Selection -->
    <div style="margin-bottom: 50px; margin-top: 30px;">
        <label>{{ 'SELECT_MONTH' | translate }}</label>
        <select [(ngModel)]="selectedMonth">
          <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
        </select>
    
        <label>{{ 'SELECT_YEAR' | translate }}</label>
        <select [(ngModel)]="selectedYear">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
    
        <button (click)="loadMonthlyData()">{{ 'SHOW_MONTHLY_DATA' | translate }}</button>
      </div>

  
    <!-- Transaction Type Count Bar Chart -->
    <div style="margin-bottom: 30px;">
      <h2>{{ 'TRANSACTION_COUNTS_BY_TYPE' | translate }}</h2>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="'vivid'"
        [results]="transactionTypeData"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="showLegend"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="{{ 'TRANSACTION_TYPE' | translate }}"
        yAxisLabel="{{ 'COUNT' | translate }}"
        [animations]="animations">
      </ngx-charts-bar-vertical>
    </div>
  
    <!-- Transaction Amount by Type Pie Chart -->
    <div style="margin-bottom: 30px;">
      <h2>{{ 'TOTAL_TRANSACTION_AMOUNT_BY_TYPE' | translate }}</h2>
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="'cool'"
        [results]="transactionAmountData"
        [legend]="showLegend"
        [labels]="showLabels"
        [doughnut]="false"
        [animations]="animations">
      </ngx-charts-pie-chart>
    </div>
  


    <!-- Monthly Transaction Bar Chart -->
    <h2 style="margin-bottom: 50px;">{{ 'MONTHLY_TRANSACTION_CHART' | translate }}</h2>

    <div *ngIf="monthlyTransactionData.length">
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="'flame'"
        [results]="monthlyTransactionData"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="showLegend"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="{{ 'DAY_OF_MONTH' | translate }}"
        yAxisLabel="{{ 'TOTAL_PRICE' | translate }}"
        [animations]="animations">
      </ngx-charts-bar-vertical>
    </div>
  </div>
